<!DOCTYPE>
    <html>
	<head>
	    <title>Nodejs</title>
	    <link rel="stylesheet" href="/css/main.css">
	    <link rel="stylesheet" href="/css/bootstrap.css">
	    <!--<link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">-->
	</head>
	<body>
	    <div id="header">
		<div class="container">
		    <ul class="nav">
			<li><a href="/" class="btn disabled">Home</a></li>
			<li><a href="/" >Tour</a></li>
			<li><a href="/" >Why?</a></li>
			<li><a href="/" >Help</a></li>   
			<li><a title="Log in to Fleetio" href="https://secure.fleetio.com/login" class="btn btn primary">Log In</a></li>
		    </ul>
		</div>
	    </div>
	    {{html body}}
	</body>
    </html>