<!DOCTYPE>
    <html>
	<head>
	    <title>Nodejs</title>
	    <link rel="stylesheet" href="/css/main.css">
	    <link rel="stylesheet" href="/css/bootstrap.css">
	    <!--<link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">-->
	</head>
	<body>
	    <div id="wrapper">
		<!-- Header -->
		<div id="header">
		    <div class="container">
			<div class="logo">
			    <a href="/">NODE.JS</a>
			</div>
			<div class="menu">
			    <ul class="nav nav-pills">
				<li class="active"><a href="/">Home</a></li>
				<li><a href="#">Why?</a></li>
				<li><a href="#">Help</a></li>
				<li><a href="/login">Login</a></li>
			    </ul>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="container" id="content">
	    {{html body}}
	    </div>
	</body>
    </html>