body{
    margin:0px;
    padding: 0px;    
}

#header{
    background-color: #F8F8F8;
    border-bottom: 1px solid #E0E0E0;
    padding: 9px 0 0;
    height: 60px;
    left: 0;
    overflow: visible;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
}

.logo{
    font-size: 25px;
    color: #000;
    padding-top: 15px;
    float: left;
}

.menu{
    padding-top: 10px;
    float: right;
}

#content{
    margin-top: 85px;
    height: 350px;
    background-color: #fefefe;
    border: 1px solid #dedede;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px;
    width: 920px!important;
}

